.card .media{
    margin-bottom: 0.25rem !important;
}

.view-user-card{
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%) !important;
    margin: 0 auto !important;
    width: 20rem !important;
    cursor: pointer;
}

.user-item{
    color: #000;
}

.view-user-card:hover {
    color: #00f;
    border: solid 1px #00f !important;
}