.main-container{
    background-color:wheat;
    width: 100% !important;
}

.App {
    text-align: center !important;
  }

#app-container{
    height: 101.5vh !important;
    overflow-y: scroll;
    padding-left: 0;
}

.app-container{
    background-color:wheat;
    width: max-content !important;
  }
  

@media screen and (max-width:1023px) and (min-width:770px){
    #nav-column{
        width: 0 !important;
        position:absolute;
        left: -25px !important;
    }
}

@media screen and (min-width:1024px){
    .nav-column{
        width: 25% !important;
    }
}

@media screen and (max-width:1300px) and (min-width:1024px){
    .app-container{
        width: 75% !important;
    }
}

@media screen and (min-width:2000px){
    .nav-column{
        width: 25% !important;
    }
    .app-container{
        max-width: 75% !important;
    }
}

/*@media screen and (max-width:1000px) {
    #app-container{
        padding-left: 0.5rem !important;
    }
}*/